// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.movie {
  border: 2px solid aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
}
